.welcome {
  margin-top: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('https://thumbs.dreamstime.com/b/night-study-session-anime-girl-studying-her-desk-late-surrounded-books-plush-toys-cozy-peaceful-atmosphere-367893260.jpg');
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.welcome h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: rgb(238, 174, 83);
  transform: translateY(-20px);
  animation: fadeInUp 1s ease forwards 1s;
}

.welcome button {
  width: 20%;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  padding: 12px 30px;
  letter-spacing: 0.8px;
  border: none;
  transition: all 1s ease;
  border-radius: 8px;
  animation: fadeInScale 1s ease forwards 1s;
  background: linear-gradient(90.21deg, rgba(224, 149, 70, 0.915) -5.91%, rgb(125, 62, 7) 111.58%);
  cursor: pointer;
}


